{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'website/_components/all_css_styles.html' %}



<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="s3.tradingview.com/external-embedding/embed-widget-ticker-tape.html"
                async>
                    {
                        "symbols": [
                            {
                                "description": "Amazon",
                                "proName": "NASDAQ:AMZN"
                            },
                            {
                                "description": "Facebook",
                                "proName": "NASDAQ:FB"
                            },
                            {
                                "description": "Alphabet",
                                "proName": "NASDAQ:GOOGL"
                            },
                            {
                                "description": "Apple",
                                "proName": "NASDAQ:AAPL"
                            },
                            {
                                "description": "Mircosoft",
                                "proName": "NASDAQ:MSFT"
                            },
                            {
                                "description": "BTC/USD",
                                "proName": "COINBASE:BTCUSD"
                            },
                            {
                                "description": " \tAlibaba Group Holding",
                                "proName": " \tNYSE:BABA"
                            },
                            {
                                "description": " \tBerkshire Hathaway",
                                "proName": " \tNYSE:BRK.B"
                            },
                            {
                                "description": " \tJPMorgan Chase",
                                "proName": " \tNYSE:JPM"
                            },
                            {
                                "description": "ETH/USD",
                                "proName": "KRAKEN:ETHUSD"
                            },
                            {
                                "description": " \tJohnson & Johnson",
                                "proName": " \tNYSE:JNJ"
                            },
                            {
                                "description": " \tExxon Mobil",
                                "proName": " \tNYSE:XOM"
                            },
                            {
                                "description": " \tRoyal Dutch Shell",
                                "proName": " \tNYSE:RDS.A"
                            },
                            {
                                "description": " \tBank of America",
                                "proName": " \tNYSE:BAC"
                            },
                            {
                                "description": "XRP/USD",
                                "proName": "BITFINEX:XRPUSD"
                            }
                        ],
                            "colorTheme": "dark",
                                "isTransparent": false,
                                    "displayMode": "compact",
                                        "locale": "en"
                    }
                </script>
        </div>
        <!-- TradingView Widget END -->

        {% include 'website/_components/navbar.html' %}


        <!-- start page title section -->
        <section class="page-title-section2 bg-img cover-background" data-overlay-dark="7"
            data-background="{% static 'assets/platinumnvesthub/img/bg/bg9.jpg' %}">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h1>Investment Products</h1>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="javascript:void(0)">forexcurrencies</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- end page title section -->

        <!-- start service detail section -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- start right side section -->
                    <div class="col-lg-12 col-md-12 order-1 order-lg-2 sm-margin-30px-bottom">
                        <div class="services-single-right">
                            <h5 class="font-weight-600">forexcurrencies</h5>
                            <div class="margin-40px-bottom sm-margin-30px-bottom"><img
                                    src="{% static 'assets/platinumnvesthub/img/crypto-currency-trading-1024x683.jpg' %}"
                                    class="border-radius-5 box-shadow-primary" alt=""></div>
                            <p class="margin-30px-bottom sm-margin-20px-bottom width-95">
                                forexcurrency Trading is the Forex (Foreign Exchange) of forexcurrencies. This means,
                                you are able to trade different bitcoin and altcoin normally for USD and BTC.
                                forexcurrency Trading is an alternative way to get involved in the forex-World! Unlike
                                mining, it doesn’t require mining hardware nor investing in bitcoin hyips or bitcoin
                                cloud mining (which always has risk involved in their integrity).

                                Halal Wealth Builder is offering its Clients the possibility to profit, by taking
                                advantage of forexcurrency price movements. We make profitable trades exploiting the
                                price difference in the open market on forex exchanges at different times. We offer one
                                of the best forexcurrency trading services in the industry working with our high-tech
                                equipment and advanced software for real forex trading.

                            <p>Why Invest in forexcurrencies?

                            <p>The skyrocketing rise in forexcurrency value is shaking up the financial markets.
                                forexcurrency market was valued at $500 billion U.S Dollars at the end of 2017. Its
                                value rose over 360% from the beginning of 2017. forexcurrencies are known for their
                                rapid price movements, providing potentially high returns on investment.

                            </p>
                        </div>
                    </div>
                    <!-- end right side section -->

                </div>
            </div>
        </section>


        {% include 'website/_components/main__footer.html' %}

    </div>

    {% include 'website/_components/all_js_scripts.html' %}



</body>

</html>