<!DOCTYPE html>
<html lang="en">
{% load static %}

{% include 'website/_components/all_css_styles.html' %}

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="s3.tradingview.com/external-embedding/embed-widget-ticker-tape.html"
                async>
                    {
                        "symbols": [
                            {
                                "description": "Amazon",
                                "proName": "NASDAQ:AMZN"
                            },
                            {
                                "description": "Facebook",
                                "proName": "NASDAQ:FB"
                            },
                            {
                                "description": "Alphabet",
                                "proName": "NASDAQ:GOOGL"
                            },
                            {
                                "description": "Apple",
                                "proName": "NASDAQ:AAPL"
                            },
                            {
                                "description": "Mircosoft",
                                "proName": "NASDAQ:MSFT"
                            },
                            {
                                "description": "BTC/USD",
                                "proName": "COINBASE:BTCUSD"
                            },
                            {
                                "description": " \tAlibaba Group Holding",
                                "proName": " \tNYSE:BABA"
                            },
                            {
                                "description": " \tBerkshire Hathaway",
                                "proName": " \tNYSE:BRK.B"
                            },
                            {
                                "description": " \tJPMorgan Chase",
                                "proName": " \tNYSE:JPM"
                            },
                            {
                                "description": "ETH/USD",
                                "proName": "KRAKEN:ETHUSD"
                            },
                            {
                                "description": " \tJohnson & Johnson",
                                "proName": " \tNYSE:JNJ"
                            },
                            {
                                "description": " \tExxon Mobil",
                                "proName": " \tNYSE:XOM"
                            },
                            {
                                "description": " \tRoyal Dutch Shell",
                                "proName": " \tNYSE:RDS.A"
                            },
                            {
                                "description": " \tBank of America",
                                "proName": " \tNYSE:BAC"
                            },
                            {
                                "description": "XRP/USD",
                                "proName": "BITFINEX:XRPUSD"
                            }
                        ],
                            "colorTheme": "dark",
                                "isTransparent": false,
                                    "displayMode": "compact",
                                        "locale": "en"
                    }
                </script>
        </div>
        <!-- TradingView Widget END -->

        {% include 'website/_components/navbar.html' %}


        <!-- start page title section -->
        <section class="page-title-section2 bg-img cover-background" data-overlay-dark="7"
            data-background="{% static 'assets/platinumnvesthub/img/bg/bg9.jpg' %}">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h1>The easiest place to invest</h1>
                    </div>
                </div>

            </div>
        </section>
        <!-- end page title section -->

        <!-- start service detail section -->
        <section>
            <div class="container">
                <div class="row">

                    <!-- start right side section -->
                    <div class="col-lg-12 col-md-12 order-1 order-lg-2 sm-margin-30px-bottom">
                        <div class="services-single-right">
                            <h5 class="font-weight-600">Terms &amp; Conditions</h5>
                            <p class="margin-30px-bottom sm-margin-20px-bottom width-95">
                            <p>Terms &amp; Conditions</p>
                            <p> </p>
                            <div>
                                <div><strong>Please read the following rules carefully before signing in.</strong></div>
                                <strong>Terms &amp; Conditions</strong>
                                <p>Thank you for visiting our website (the Website) on which you found the link to these
                                    Terms and Conditions (the
                                    Website), and to our Privacy Policy (the "Privacy Policy"). The Website is our
                                    property (referred to collectively as “we”, “our” or “us”) and you may contact us at
                                    any time via email at: support@halal wealth builder.com</p>
                                <p>You agree to be bound by the Terms herein (“Terms of Use”), in their entirety, when
                                    you access the Website or order a product and/or service through the Website
                                    (“Vendor Services”, and together with the Subscription Services, as defined below,
                                    the “Services”), Privacy Policy (“Privacy Policy”), as well as any other operating
                                    rules, policies, price schedules and other supplemental terms and conditions or
                                    documents that may be published from time to time (collectively, the “Agreement”).
                                </p>
                                <p>Please review the complete terms of the Agreement carefully. If you do not agree to
                                    the Agreement in its entirety, you are not authorized to use the Services and/or
                                    Website in any manner or form. WE SPECIFICALLY DENY ACCESS TO THE WEBSITE AND/OR OUR
                                    SERVICES BY ANY INDIVIDUAL THAT IS COVERED BY THE CHILDREN’S ONLINE PRIVACY
                                    PROTECTION ACT OF 1998, AS AMENDED (“COPPA”), AND RESERVE THE RIGHT TO DENY ACCESS
                                    TO THE SERVICES AND/OR WEBSITE TO ANY INDIVIDUAL, IN ITS SOLE AND EXCLUSIVE
                                    DISCRETION.</p>
                                <p><strong>DEPOSIT AND WITHDRAL RULES </strong></p>
                                <p>Investors are not allowed to reinvest a trading profit, only investment from bitcoin
                                    wallet will be recognized.</p>
                                <p>You are only allowed to reinvest you profit once per each plan, and then when you
                                    have successfully reached the $50,000 mark, you will automatically earn you a top
                                    investor privilege.</p>
                                <p>Investors are not allowed to have more than one halal wealth builder account.</p>
                                <p>Investors are suppose to initiate an amount before making a deposit.</p>
                                <p>Your withdrawals will be stopped if you fail to comply to this rules.</p>
                                <strong>SCOPE AND MODIFICATION OF THE AGREEMENT</strong>
                                <p>You hereby agree to the terms and conditions outlined in the Agreement with respect
                                    to your use of our Website. The Agreement constitutes the entire and only agreement
                                    between you and us with respect to your use of the Website and
                                    supersedes all prior or contemporaneous agreements, representations, warranties
                                    and/or understandings with respect to the Website.</p>
                                <p>Please note that these Terms may change from time to time. If we change these Terms,
                                    we will advise you of the choices you may have as a result of such changes. We will
                                    also post a notice that these Terms have changed. Your continued use
                                    of the Website and/or our Services, imply that you fully agree to comply with all of
                                    the terms and conditions contained within the Agreement effective at that time. It
                                    is your responsibility to frequently check this page for updates and/or changes.</p>
                                <strong>REQUIREMENTS</strong>
                                <p>The Website and our Services are only available to individuals who can enter into
                                    legally binding contracts under applicable law. The Website and Services are not
                                    intended for use by individuals under the age of eighteen (18). If you are under the
                                    age of eighteen (18), you do not have the permission to use and/or access the
                                    Website and/or Services.</p>
                                <strong>DESCRIPTION OF THE SERVICES Subscription Services</strong>
                                <p>Subject to the terms and conditions of the Agreement, by registering on the Website
                                    and receiving approval from us, you can obtain, or attempt to obtain, for a fee or
                                    for no fee, the Subscription Services. The Subscription Services will provide you
                                    with e-mail content, text and other materials (“Subscription Content”) relevant to
                                    online marketing provided by us and third party partners (“Third Party Providers”).
                                    This is NOT investment advice. If you would like to
                                    discontinue receipt of the Subscription Content, simply email us. By using the
                                    Subscription Content and/or any Subscription Services, You hereby understand and
                                    agree that we are not responsible or liable in any manner whatsoever for the
                                    accuracy, completeness or appropriateness of the Subscription Content, the
                                    Subscription Services or your inability to use the Subscription Services and/or
                                    Subscription Content. You hereby understand, agree and confirm that we shall not be
                                    liable to you, any end-users or any third party, for any claim in connection with
                                    any of the Subscription Services.</p>
                                <strong>Vendor and Third Party Services</strong>
                                <p>By completing the applicable purchase order forms you can obtain, or attempt to
                                    obtain, certain products and/or services from the Website. The products and/or
                                    services featured on the Website may contain descriptions that are provided directly
                                    by the Third Party Provider manufacturers or distributors of such items. We do not
                                    represent or warrant that the descriptions of such items. We do not represent or
                                    warrant that the descriptions of such items are accurate or complete. You hereby
                                    understand and agree that we are not responsible or liable in any manner whatsoever
                                    for your inability to obtain products and/or services from the Website orfor any
                                    dispute with the product’s seller, distributor and end-user consumers. You
                                    understand and agree that we shall
                                    not be liable to you or any third party for any claim in connection with any of the
                                    products and/or services offered on the Website.</p>
                                <strong>General</strong>
                                <p>The information that you must supply in connection with registering for the Services
                                    may include, without limitation, some or all of the following: (a) your full name;
                                    (b) company name; (c) e-mail address; (d) mailing address (and billing address if
                                    different); (e) home telephone number; (f) work telephone number; (g) fax number;
                                    (h) credit card information; and/or (i) any other information requested on the
                                    applicable registration form (“Service Registration Data”). You agree to provide
                                    true, accurate, current and complete Service Registration Data. We have the right to
                                    reject any Service Registration Data where it is determined, in our sole and
                                    exclusive discretion, that: (i) you are in breach of any portion of the Agreement;
                                    and/or (ii) the Service Registration Data that you provided is incomplete,
                                    fraudulent, a duplicate or otherwise unacceptable. We may change the Registration
                                    Data criteria at any time, in our sole discretion.</p>
                                <p>Unless explicitly stated otherwise, any future offer(s) made available to you on the
                                    Website that enhance(s) the current features of the Website shall be subject to the
                                    Agreement. You understand and agree that we are not responsible or liable in any
                                    manner whatsoever for your inability to use and/or qualify for the Services. You
                                    understand and agree that we shall not be liable to you or any third party for any
                                    modification, suspension or discontinuation of any Services or other product,
                                    service or promotion offered by us and/or any of our Third Party Providers. You
                                    understand and agree that refusal to use the Website is your sole right and remedy
                                    with respect to any dispute that you may have with us.</p>
                                <strong>LICENSE GRANT</strong>
                                <p>As a user of the Website, you are granted a non-exclusive, non-transferable,
                                    revocable and limited license to access and use the Website, Content and associated
                                    material in accordance with the Agreement. We may terminate this license at any time
                                    for any reason. You may use the Website and Content on one computer for your own
                                    personal, non-commercial use. No part of the Website, Content, and/or Services may
                                    be reproduced in any form or incorporated into any information retrieval system,
                                    electronic or mechanical. You may not use, copy, emulate, clone, rent, lease, sell,
                                    modify, decompile, disassemble, reverse engineer or transfer the Website, Content,
                                    and/or Services or any portion thereof. We reserve any rights not explicitly granted
                                    in the Agreement. You may not use any device, software or routine to interfere or
                                    attempt to interfere with the proper working of the Website. You may not take any
                                    action that imposes an unreasonable or disproportionately large load on our
                                    infrastructure. Your right to use the Website, Content, and/or Services is not
                                    transferable.</p>
                                <strong>PROPRIETARY RIGHTS</strong>
                                <p>The content, organization, graphics, design, compilation, magnetic translation,
                                    digital conversion, software, services and other matters related to the Website,
                                    Content, and Services are protected under applicable copyrights, trademarks and
                                    other proprietary (including, but not limited to, intellectual property) rights. The
                                    copying, redistribution, publication or sale by you of any part of the Website,
                                    Content, and/or Services is strictly prohibited. Systematic retrieval of material
                                    from the Website, Content, and/or Services by automated means or any other form of
                                    scraping or data extraction in order to create or compile, directly or indirectly, a
                                    collection, compilation, database or directory without written permission from we is
                                    prohibited. You do not acquire ownership rights to any content, document, software,
                                    services or other materials viewed at or through the Website, Content, and/or
                                    Services. The posting of information or material on the Website, or by and through
                                    the Services, by us does not constitute a waiver of any right in or to such
                                    information and/or materials. Our name and logo, and all associated graphics, icons
                                    and service names, are our trademarks. All other trademarks appearing on the Website
                                    or by and through the Services are the property of their respective owners. The use
                                    of any trademark without the applicable owner’s express written consent is strictly
                                    prohibited.</p>
                                <strong>CONFIDENTIAL INFORMATION</strong>
                                <p>Confidential information means all confidential and proprietary information of a
                                    party, whether oral or in writing, which is designated or identified as confidential
                                    or that reasonably should be understood to be confidential given the nature of the
                                    information and surrounding circumstances, but shall not include information that is
                                    (1) generally known to the public without breach hereunder; (2) was known prior to
                                    disclosure hereunder without restriction on disclosure; (3) independently developed
                                    without breach hereunder; or (4) is rightfully received from a third party without
                                    any restriction on disclosure. The parties shall only use confidential information
                                    for the purposes of performing the obligations hereunder. We will not sell first
                                    party data without consent.</p>
                                <p>The duty to protect Confidential Information shall expire one (1) year from the date
                                    of termination of the Agreement.</p>
                                <p><strong>HYPERLINKING TO THE WEBSITE, CO-BRANDING, "FRAMING" AND/OR REFERENCING THE
                                        WEBSITE PROHIBITED</strong></p>
                                <p>Unless expressly authorized by us, no one may hyperlink the Website, or portions
                                    thereof (including, but not limited to, logotypes, trademarks, branding or
                                    copyrighted material), to their website or web venue for any reason. Furthermore,
                                    "framing” the Website and/or referencing the Uniform Resource Locator ("URL") of the
                                    Website in any commercial or non-commercial media without our prior, express,
                                    written permission is strictly prohibited. You specifically agree to cooperate with
                                    the Website to remove or cease, as applicable, any such content or activity. You
                                    hereby acknowledge that you shall be liable for any and all damages associated
                                    therewith.</p>
                                <strong>EDITING, DELETING AND MODIFICATION</strong>
                                <p>We reserve the right in our sole discretion, without prior notice, to edit and/or
                                    delete any documents, information or other content appearing on the Website.</p>
                                <strong>DISCLAIMER</strong>
                                <p>THE WEBSITE, SERVICES, CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE FROM
                                    ONE OF OUR THIRD PARTY PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR SERVICES THAT YOU
                                    MAY APPLY FOR THROUGH THE WEBSITE ARE PROVIDED TO YOU ON AN “AS IS” AND “AS
                                    AVAILABLE” BASIS AND ALL WARRANTIES, EXPRESS AND IMPLIED, ARE DISCLAIMED TO THE
                                    FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW (INCLUDING, BUT NOT LIMITED
                                    TO, THE DISCLAIMER OF ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF
                                    INTELLECTUAL PROPERTY AND/OR FITNESS FOR A PARTICULAR PURPOSE). IN PARTICULAR, BUT
                                    NOT AS A LIMITATION THEREOF, WE MAKE NO WARRANTY THAT: (A) THE WEBSITE, SERVICES,
                                    CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE FROM ONE OF OUR THIRD PARTY
                                    PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR SERVICES THAT YOU MAY APPLY FOR THROUGH
                                    THE WEBSITE WILL MEET YOUR REQUIREMENTS; (B) THE WEBSITE, SERVICES, CONTENT, ANY
                                    THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE FROM ONE OF OUR THIRD PARTY PROVIDERS,
                                    AND/OR ANY OTHER PRODUCTS AND/OR SERVICES THAT YOU MAY APPLY FOR THROUGH THE WEBSITE
                                    WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (C) YOU WILL QUALIFY FOR THE
                                    SERVICES; OR (D) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE WEBSITE,
                                    SERVICES, CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE FROM ONE OF OUR
                                    THIRD PARTY PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR SERVICES THAT YOU MAY APPLY
                                    FOR THROUGH THE WEBSITE WILL BE ACCURATE OR RELIABLE. THE WEBSITE, SERVICES,
                                    CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE FROM ONE OF OUR THIRD PARTY
                                    PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR SERVICES THAT YOU MAY APPLY FOR THROUGH
                                    THE WEBSITE MAY CONTAIN BUGS, ERRORS, PROBLEMS OR OTHER LIMITATIONS. WE WILL NOT BE
                                    LIABLE FOR THE AVAILABILITY OF THE UNDERLYING INTERNET CONNECTION ASSOCIATED WITH
                                    THE WEBSITE. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM
                                    WE, ANY OF ITS THIRD PARTY PROVIDERS OR OTHERWISE THROUGH OR FROM THE WEBSITE, SHALL
                                    CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE AGREEMENT.</p>
                                <strong>DISCLAIMER FOR HARM CAUSED BY DOWNLOADS</strong>
                                <p>Visitors download information from the Website at their own risk. We make no warranty
                                    that such downloads are free of corrupting computer codes including, but not limited
                                    to, viruses and worms.</p>
                                <strong>LIMITATION OF LIABILITY</strong>
                                <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE SHALL NOT BE LIABLE TO YOU OR ANY THIRD
                                    PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL AND/OR EXEMPLARY
                                    DAMAGES INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE,
                                    DATA OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAS BEEN ADVISED OF THE POSSIBILITY OF
                                    SUCH DAMAGES), TO THE FULLEST EXTENT PERMISSIBLE BY LAW FOR: (A) THE USE OR THE
                                    INABILITY TO USE THE WEBSITE, SERVICES, CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU
                                    MAY RECEIVE FROM ONE OF OUR THIRD PARTY PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR
                                    SERVICES THAT YOU MAY APPLY FOR THROUGH THE WEBSITE; (B) THE COST OF PROCUREMENT OF
                                    SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION AND/OR
                                    SERVICES PURCHASED OR OBTAINED FROM, OR TRANSACTIONS ENTERED INTO THROUGH, THE
                                    WEBSITE; (C) THE FAILURE TO QUALIFY FOR THE, SERVICES OR THIRD PARTY PRODUCTS FROM
                                    ANY OF OUR THIRD PARTY PROVIDERS, OR ANY SUBSEQUENT DENIAL OF THIRD PARTY PRODUCTS
                                    FROM SAME; (D) THE UNAUTHORIZED ACCESS TO, OR ALTERATION OF, YOUR REGISTRATION DATA;
                                    AND (E) ANY OTHER MATTER RELATING TO THE INABILITY TO USE THE WEBSITE, SERVICES,
                                    CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE FROM ONE OF OUR THIRD PARTY
                                    PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR SERVICES THAT YOU MAY APPLY FOR THROUGH
                                    THE WEBSITE. THIS LIMITATION APPLIES TO ALL CAUSES OF ACTION, IN THE AGGREGATE
                                    INCLUDING, BUT NOT LIMITED TO, BREACH OF CONTRACT, BREACH OF WARRANTY, NEGLIGENCE,
                                    STRICT LIABILITY, MISREPRESENTATIONS AND ANY AND ALL OTHER TORTS. YOU HEREBY RELEASE
                                    US AND ALL OF OUR THIRD PARTY PROVIDERS FROM ANY AND ALL OBLIGATIONS, LIABILITIES
                                    AND CLAIMS IN EXCESS OF THE LIMITATION STATED HEREIN. IF APPLICABLE LAW DOES NOT
                                    PERMIT SUCH LIMITATION, OUR MAXIMUM LIABILITY TO YOU UNDER ANY AND ALL CIRCUMSTANCES
                                    WILL BE FIVE HUNDRED DOLLARS ($500.00). THE NEGATION OF DAMAGES SET FORTH ABOVE IS A
                                    FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN YOU AND US. THE INABILITY TO
                                    USE THE WEBSITE, SERVICES, CONTENT, ANY THIRD PARTY PRODUCTS THAT YOU MAY RECEIVE
                                    FROM ONE OF OUR THIRD PARTY PROVIDERS, AND/OR ANY OTHER PRODUCTS AND/OR SERVICES
                                    THAT YOU MAY APPLY FOR THROUGH THE WEBSITE WOULD NOT BE PROVIDED TO YOU WITHOUT SUCH
                                    LIMITATIONS.</p>
                                <strong>INDEMNIFICATION</strong>
                                <p>You agree to indemnify and hold us, our parents, subsidiaries and affiliates, and
                                    each of their respective members, officers, directors, employees, agents,
                                    co-branders and/or other partners, harmless from and against any and all claims,
                                    expenses (including reasonable attorneys’ fees), damages, suits, costs, demands
                                    and/or judgments whatsoever, made by any third party due to or arising out of: (a)
                                    your use of the Website, Services, or Content; (b) your breach of the Agreement;
                                    and/or (c) your violation of any rights of another individual and/or entity. The
                                    provisions of this paragraph are for our and the benefit of, each of our parents,
                                    subsidiaries and/or affiliates, and each of their respective officers, directors,
                                    members, employees, agents, shareholders, licensors, suppliers and/or attorneys.
                                    Each of these individuals and entities shall have the right to assert and enforce
                                    these provisions directly against you on its own behalf.</p>
                                <strong>THIRD PARTY WEBSITES</strong>
                                <p>The Website may provide links to and/or refer you to other Internet websites and/or
                                    resources including, but not limited to, those owned and operated by Third Party
                                    Providers. Because we have no control over such third party websites and/or
                                    resources, you hereby acknowledge and agree that we are not responsible for the
                                    availability of such third party websites and/or resources. Furthermore, we do not
                                    endorse, and are not responsible or liable for, any terms and conditions, privacy
                                    policies, content, advertising, services, products and/or other materials at or
                                    available from such third party websites or resources, or for any damages and/or
                                    losses arising therefrom.</p>
                                <strong>PRIVACY POLICY/VISITOR INFORMATION</strong>
                                <p>Use of the Website, and all comments, feedback, information, Registration Data and/or
                                    materials that you submit through or in association with the Website, is subject to
                                    our Privacy Policy. We reserve the right to use all information regarding your use
                                    of the Website, and any and all other personally identifiable information provided
                                    by you, in accordance with the terms of our Privacy Policy and applicable data
                                    protection laws.</p>
                                <strong>LEGAL WARNING</strong>
                                <p>Any attempt by any individual, whether or not our customer, to damage, destroy,
                                    tamper with, vandalize and/or otherwise interfere with the operation of the Website,
                                    is a violation of criminal and civil law and we will diligently pursue any and all
                                    remedies in this regard against any offending individual or entity to the fullest
                                    extent permissible by law and in equity.</p>
                                <strong>CHOICE OF LAW AND VENUE</strong>
                                <p>This Agreement shall be governed by and construed in all respects in accordance with
                                    the laws of the UK. The Parties will attempt in good faith to negotiate a settlement
                                    to any claim or dispute between them arising out of or in connection with this
                                    Agreement. If the Parties fail to agree on the terms of settlement, the Parties will
                                    submit the dispute exclusively to confidential arbitration proceedings by a sole
                                    arbitrator under the ICC rules in London whose decision shall be final and binding.
                                    Neither party shall be allowed to file a claim with its local court of domicile or
                                    any other forum.</p>
                                <strong>Data Protection Addendum</strong>
                                <p>This Data Protection Addendum ("Addendum") forms part of our Terms and Conditions
                                    ("Principal Agreement").</p>
                                <p>The terms used in this Addendum shall have the meanings set forth in this Addendum.
                                    Capitalized terms not otherwise defined herein shall have the meaning given to them
                                    in the Agreement. Except as modified below, the terms of the Agreement shall remain
                                    in full force and effect.</p>
                                <p>In consideration of the mutual obligations set out herein, the parties hereby agree
                                    that the terms and conditions set out below shall be added as an Addendum to the
                                    Agreement. Except where the context requires otherwise, references in this Addendum
                                    to the Agreement are to the Agreement as amended by, and including, this Addendum.
                                </p>
                                <p>Definitions In this Addendum, the following terms shall have the meanings set out
                                    below and cognate terms shall be construed accordingly: "Applicable Laws" means (a)
                                    European Union or Member State laws with respect to any Personal Data in respect of
                                    which the data subject is subject to EU Data Protection Laws; and (b) any other
                                    applicable law with respect to any Personal Data which is subject to any other Data
                                    Protection Laws; "Controller" means the entity that determines the purposes and
                                    means of the processing of Personal Data. "Data Protection Laws" means EU Data
                                    Protection Laws and, to the extent applicable, the data protection or privacy laws
                                    of any other country; "EU Data Protection Laws" means EU Directive 95/46/EC, as
                                    transposed into domestic legislation of each Member State and as amended, replaced
                                    or superseded from time to time, including by the GDPR and laws implementing or
                                    supplementing the GDPR; "GDPR" means EU General Data Protection Regulation 2016/679;
                                    The terms, "Data Subject", "Member State", "Personal Data", "Personal Data Breach",
                                    and "Processing" shall have the same meaning as in the GDPR, and their cognate terms
                                    shall be construed accordingly. Collection and Processing of Personal Data we shall:
                                    comply with all applicable Data Protection Laws in the Processing of Personal Data;
                                    represents and warrants that it: has all necessary permissions and consents from the
                                    relevant data subjects on behalf of we in accordance with the Applicable Laws to
                                    lawfully allow we to collect, process and share Personal Data via the Services for
                                    the purposes contemplated by the Agreement including this Addendum. shall at all
                                    times make available a mechanism for obtaining such consent from data subjects and a
                                    mechanism for data subjects to withdraw such consent, all in accordance with the
                                    Applicable Laws. shall maintain a record and notify of all consent and withdrawal of
                                    consent of data subjects in accordance with the Applicable Laws. shall, post,
                                    maintain and abide by a publicly available privacy policy. acknowledges not to
                                    provide the Services to children under the age of eighteen (18). Security Taking
                                    into account the state of the art, the costs of implementation and the nature,
                                    scope, context and purposes of Processing as well as the risk of varying likelihood
                                    and severity for the rights and freedoms of natural persons, we shall implement
                                    appropriate technical and organizational measures to ensure a level of security
                                    appropriate to that risk, including, as appropriate, the measures referred to in
                                    Article 32(1) of the GDPR. In assessing the appropriate level of security, we shall
                                    take account in particular of the risks that are presented by Processing, in
                                    particular from a Personal Data Breach. Subprocessing Each Website User authorises
                                    us to appoint (and permit each Subprocessor appointed in accordance with this
                                    section to appoint) Subprocessors in accordance with this section and any
                                    restrictions in the Agreement. With respect to each Subprocessor appointed by us, we
                                    shall ensure that the arrangement between us and the Subprocessor, is governed by a
                                    written contract including terms which offer at least the same level of protection
                                    for Personal Data as those set out in this Addendum and meet the requirements of
                                    article 28(3) of the GDPR; Data Subject Rights Taking into account the nature of the
                                    Processing, we shall assist wherever possible, to respond to requests to exercise
                                    Data Subject rights under the Data Protection Laws. Personal Data Breach We shall
                                    immediately inform the Data Subject without undue delay, upon becoming aware of a
                                    Personal Data Breach affecting the Data Subject's Personal Data, to inform Data
                                    Subjects of the Personal Data Breach under the Data Protection Laws. We shall also
                                    assist in the investigation, mitigation and remediation of each such Personal Data
                                    Breach. General Terms The parties to this Addendum hereby submit to the choice of
                                    jurisdiction stipulated in the Agreement with respect to any disputes or claims
                                    howsoever arising under this Addendum, including disputes regarding its existence,
                                    validity or termination or the consequences of its nullity; and this Addendum and
                                    all non-contractual or other obligations arising out of or in connection with it are
                                    governed by the laws of the country or territory stipulated for this purpose in the
                                    Agreement. Should any provision of this Addendum be invalid or unenforceable, then
                                    the remainder of this Addendum shall remain valid and in force. The invalid or
                                    unenforceable provision shall be either (i) amended as necessary to ensure its
                                    validity and enforceability, while preserving the parties’ intentions as closely as
                                    possible or, if this is not possible, (ii) construed in a manner as if the invalid
                                    or unenforceable part had never been contained therein. IN WITNESS WHEREOF, this
                                    Addendum is entered into and becomes a binding part of the Agreement with effect
                                    from the date first set out above.</p>
                                <p> </p>
                            </div>
                            </p>
                        </div>
                    </div>
                    <!-- end right side section -->

                </div>
            </div>
        </section>

        <!-- end service detail section -->


        <!-- start separator -->
        <div class="separator-line-horrizontal-full bg-medium-light-gray"></div>
        <!-- end separator -->






        {% include 'website/_components/main__footer.html' %}

    </div>
    {% include 'website/_components/all_js_scripts.html' %}



</body>


</html>