{% load static %}


<head>
    <!-- metas -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Forex, Forex, Forexs, investment, forex, capital, ROI, roi, invest">
    <meta name="description"
        content="Bit Horizon Trade platform is at your service with it&#039;s user-friendly features, secure infrastructure and applications that make a difference.">

    <!-- title  -->
    <title>Bit Horizon Trade | The Smarter Way To Invest</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/daf9tr3lf/image/upload/v1742704714/4_brp0ri.png">
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/daf9tr3lf/image/upload/v1742704714/4_brp0ri.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://res.cloudinary.com/daf9tr3lf/image/upload/v1742704714/4_brp0ri.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://res.cloudinary.com/daf9tr3lf/image/upload/v1742704714/4_brp0ri.png">

    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'assets/platinumnvesthub/css/plugins.css' %}">

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'assets/platinumnvesthub/search/search.css' %}">

    <!-- custom css -->
    <link href="{% static 'assets/platinumnvesthub/css/styles-2.css' %}" rel="stylesheet" id="colors">
    <link rel="stylesheet" href="{% static 'assets/platinumnvesthub/mycss.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/platinumnvesthub/css/lang-style.css' %}">



    <!-- start translate -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element_id');
        }
    </script>
    <!-- end translate -->

</head>