{% load static %}


<!-- jquery -->
<script src="{% static 'assets/platinumnvesthub/js/jquery.min.js' %}"></script>

<!-- modernizr js -->
<script src="{% static 'assets/platinumnvesthub/js/modernizr.js' %}"></script>

<!-- bootstrap -->
<script src="{% static 'assets/platinumnvesthub/js/bootstrap.min.js' %}"></script>

<!-- navigation -->
<script src="{% static 'assets/platinumnvesthub/js/nav-menu.js' %}"></script>

<!-- serch -->
<script src="{% static 'assets/platinumnvesthub/search/search.js' %}"></script>

<!-- tab -->
<script src="{% static 'assets/platinumnvesthub/js/easy.responsive.tabs.js' %}"></script>

<!-- owl carousel -->
<script src="{% static 'assets/platinumnvesthub/js/owl.carousel.js' %}"></script>

<!-- jquery.counterup.min -->
<script src="{% static 'assets/platinumnvesthub/js/jquery.counterup.min.js' %}"></script>

<!-- stellar js -->
<script src="{% static 'assets/platinumnvesthub/js/jquery.stellar.min.js' %}"></script>

<!-- waypoints js -->
<script src="{% static 'assets/platinumnvesthub/js/waypoints.min.js' %}"></script>

<!-- tab js -->
<script src="{% static 'assets/platinumnvesthub/js/tabs.min.js' %}"></script>

<!-- countdown js -->
<script src="{% static 'assets/platinumnvesthub/js/countdown.js' %}"></script>

<!-- jquery.magnific-popup js -->
<script src="{% static 'assets/platinumnvesthub/js/jquery.magnific-popup.min.js' %}"></script>

<!-- isotope.pkgd.min js -->
<script src="{% static 'assets/platinumnvesthub/js/isotope.pkgd.min.js' %}"></script>

<!--  chart js -->
<script src="{% static 'assets/platinumnvesthub/js/chart.min.js' %}"></script>

<!-- thumbs js -->
<script src="{% static 'assets/platinumnvesthub/js/owl.carousel.thumbs.js' %}"></script>

<!-- animated js -->
<script src="{% static 'assets/platinumnvesthub/js/animated-headline.js' %}"></script>

<!--  clipboard js -->
<script src="{% static 'assets/platinumnvesthub/js/clipboard.min.js' %}"></script>

<!--  prism js -->
<script src="{% static 'assets/platinumnvesthub/js/prism.js' %}"></script>

<!-- map js -->
<script src="{% static 'assets/platinumnvesthub/js/map.js' %}"></script>

<!-- custom scripts -->
<script src="{% static 'assets/platinumnvesthub/js/main.js' %}"></script>

<!-- contact form scripts -->
<script src="{% static 'assets/platinumnvesthub/js/mailform/jquery.form.min.js' %}"></script>
<script src="{% static 'assets/platinumnvesthub/js/mailform/jquery.rd-mailform.min.c.js' %}"></script>



<script src="static.elfsight.com/platform/platform.html" defer></script>
<div class="elfsight-app-cdd38b78-ef4f-4596-b3cc-73941fe953ad"></div>




<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '425d0f832c4c1585fbb000119a865bc61f2e5921';
    window.smartsupp || (function (d) {
        var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
        s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
        c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
        c.src = '../www.smartsuppchat.com/loaderd41d.js?'; s.parentNode.insertBefore(c, s);
    })(document);
</script>
<noscript> Powered by <a href=%e2%80%9chttps_/www.smartsupp.html target=“_blank”>Smartsupp</a></noscript>


<!--<script>!function(){var e,t,n,a;window.MyAliceWebChat||((t=document.createElement("div")).id="myAliceWebChat",(n=document.createElement("script")).type="text/javascript",n.async=!0,n.src="https://widget.myalice.ai/index.js",(a=(e=document.body.getElementsByTagName("script"))[e.length-1]).parentNode.insertBefore(n,a),a.parentNode.insertBefore(t,a),n.addEventListener("load",(function(){MyAliceWebChat.init({selector:"myAliceWebChat",number:"compasspath",message:"",color:"#2AABEE",channel:"tg",boxShadow:"none",text:"Message Us",theme:"light",position:"right",mb:"20px",mx:"20px",radius:"20px"})})))}();</script>-->


<script type="text/javascript">
    var config = {
        phone: " 12252846046",
        call: "Massage is ",
        position: "ww-left",
        size: "ww-normal",
        text: "",
        type: "ww-standard",
        brand: "",
        subtitle: "",
        welcome: ""
    };
    var proto = document.location.protocol, host = "cloudfront.net", url = proto + "//d3kzab8jj16n2f." + host;
    var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = url + "/v2/main.js";

    s.onload = function () { tmWidgetInit(config) };
    var x = document.getElementsByTagName("script")[0]; x.parentNode.insertBefore(s, x);
</script>



<!-- all js include end -->


<!-- start translate -->

<script type="text/javascript">
    (function () {
        var gtConstEvalStartTime = new Date();/*

     Copyright The Closure Library Authors.
     SPDX-License-Identifier: Apache-2.0
     */
        function d(b) { var a = document.getElementsByTagName("head")[0]; a || (a = document.body.parentNode.appendChild(document.createElement("head"))); a.appendChild(b) } function _loadJs(b) { var a = document.createElement("script"); a.type = "text/javascript"; a.charset = "UTF-8"; a.src = b; d(a) } function _loadCss(b) { var a = document.createElement("link"); a.type = "text/css"; a.rel = "stylesheet"; a.charset = "UTF-8"; a.href = b; d(a) } function _isNS(b) { b = b.split("."); for (var a = window, c = 0; c < b.length; ++c)if (!(a = a[b[c]])) return !1; return !0 }
        function _setupNS(b) { b = b.split("."); for (var a = window, c = 0; c < b.length; ++c)a.hasOwnProperty ? a.hasOwnProperty(b[c]) ? a = a[b[c]] : a = a[b[c]] = {} : a = a[b[c]] || (a[b[c]] = {}); return a } window.addEventListener && "undefined" == typeof document.readyState && window.addEventListener("DOMContentLoaded", function () { document.readyState = "complete" }, !1);
        if (_isNS('google.translate.Element')) { return } (function () { var c = _setupNS('google.translate._const'); c._cest = gtConstEvalStartTime; gtConstEvalStartTime = undefined; c._cl = 'en'; c._cuc = 'googleTranslateElementInit'; c._cac = ''; c._cam = ''; c._ctkk = '443047.1598284275'; var h = 'translate.googleapis.com'; var s = (true ? 'https' : window.location.protocol == 'https:' ? 'https' : 'http') + '://'; var b = s + h; c._pah = h; c._pas = s; c._pbi = b + '/translate_static/img/te_bk.gif'; c._pci = b + '/translate_static/img/te_ctrl3.gif'; c._pli = b + '/translate_static/img/loading.gif'; c._plla = h + '/translate_a/l'; c._pmi = b + '/translate_static/img/mini_google.png'; c._ps = b + '/translate_static/css/translateelement.css'; c._puh = 'translate.google.com'; _loadCss(c._ps); _loadJs(b + '/translate_static/js/element/main.js'); })();
    })();
</script>

<!-- end translate -->